<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Recuperar contraseña</title>

	<style>

			.title{

				font-size: 28px;
				font-weight: bold;
				text-align: center;
				
			}

	</style>

</head>
<body>
	<p class="title">Hola.</p>
	<p>Has solicitado un restablecimiento de contraseña para tu cuenta en nuestro sitio web. Por favor, sigue este enlace para establecer una nueva contraseña:</p>
	<p><a href="http://localhost:4200/reset-password/{{ user.api_token }}">Recuperar contraseña</a></p>
	<p>Si no has creado una cuenta en nuestro sitio web, ignora este correo electrónico.</p>
	<p>Saludos,</p>
	<p>El equipo de nuestro sitio web</p>
</body>
</html>